.commento-root {
  margin-top: 30px;
}

.commento-root .commento-logged-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: unset !important;
}

.commento-root .commento-logged-container .commento-logged-in-as {
  flex: 1 0 12rem;
}

.commento-root .commento-logged-container .commento-logged-in-as .commento-name {
  cursor: auto;
}

.commento-root .commento-logged-container .commento-profile-button {
  float: none;
}

.commento-root * {
  font-family: 'Sarabun' !important;
}

.commento-dark-card {
  background: transparent !important;
}

.commento-highlighted-card {
  background-color: #4d4b49 !important;
}

.commento-root textarea, 
.commento-root .commento-markdown-button b, 
.commento-login-text,
.commento-body p,
.commento-anonymous-checkbox-container input[type="checkbox"] + label {
  color: #dfd9d1 !important;
}

.commento-option-collapse,
.commento-option-uncollapse {
  background: #dfd9d1 !important;
}

.commento-mod-tools::before {
  color: #a4add0 !important;
}

.commento-mod-tools button {
  color: #a49587 !important;
}

.commento-markdown-button {
  color: #797673 !important
}

.commento-round-check input[type="checkbox"] + label::before {
  background: transparent !important;
  border: 1px solid #dfd9d1 !important;
}

.commento-submit-button {
  background-color: #e37a5c !important;
}

.commento-name {
  color: #dfd9d1 !important;
}

.commento-option-remove {
  background-color: #f46565 !important;
}

.commento-logo-text {
  color: #797673 !important
}

textarea {
  background: #514e4d !important
}

textarea::placeholder {
  color: #fff !important;
}